<div class="wrapper" ng-controller="BookCtrl">
<div class="signin" id="titlesignin">
<h1>Welcome back! Sign In</h1>
<div class="signinform">
<%= form_for :session, :url => sessions_path do |f| %>
  <strong>Email:</strong> <br/><%= f.email_field :email, placeholder: 'Email'%><br/>
  <strong>Password:</strong> <br/><%= f.password_field :password,placeholder: 'Password' %><br/>
  <%= f.submit "Log In", class:"buttons btn btn-primary"%>
<% end %>
</div>
</div>

<div class="signup" >
	<h1>New to Weebooks? Make an account here</h1>
<%= form_for User.new do |f| %>
  <strong>Name:</strong><br/> <%= f.text_field :name, placeholder: 'Name' %> <br>
  <strong>Email:</strong><br/> <%= f.email_field :email, placeholder: 'Email' %> <br>
  <strong>Password:</strong><br/> <%= f.password_field :password, placeholder: 'Password' %><br>
  <strong>Confirm Password:</strong><br/> <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %><br>
  <%= f.submit "Create Account", class: "buttons btn btn-primary"%>
<% end %>
<br>
</div>

</div>